$fs-1: 8px;
$fs-2: 12px;
$fs-3: 14px;
$fs-4: 16px;
$fs-5: 20px;

$m-1: 4px;
$m-2: 8px;
$m-3: 16px;
$m-4: 24px;
$m-5: 32px;
$m-6: 40px;

$p-1: 4px;
$p-2: 8px;
$p-3: 16px;
$p-4: 24px;
$p-5: 32px;
$p-6: 40px;

$shadow: 0 8px 10px 0px rgba(10, 31, 68, 0.1);

$add-cartButton: #f9423a;
$sticky-cartButton: #a23530;
$mainBlack: #424749;
$mainGray: #6e7679;
$background: #e2e3e3;
$outline: #f1f1f2;
