.btnEatMenu {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  margin-top: $m-2;
  .active {
    width: 50%;
    height: 30px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $mainBlack;
    font-weight: bold;
    color: white;
  }
  .passive {
    width: 50%;
    height: 30px;
    border: 1px solid $mainGray;
    border-left: none;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: white;
    font-weight: bold;
    color: $mainGray;
  }
}
